//color
// gray
$color-gray-100: #ffffff;
$color-gray-200: #f2f2f2;
$color-gray-300: #e6e6e6;
$color-gray-400: #d9d9d9;
$color-gray-500: #cccccc;
$color-gray-600: #b3b3b3;
$color-gray-700: #999999;
$color-gray-800: #808080;
$color-gray-900: #666666;
$color-gray-1000: #4d4d4d;
$color-gray-1100: #333333;
$color-gray-1200: #262626;
$color-gray-1300: #1a1a1a;
$color-gray-1400: #0d0d0d;
$color-gray-1500: #000000;

//red
$color-red-100: #fbefec;
$color-red-200: #f7deda;
$color-red-300: #f3cec7;
$color-red-400: #efbdb5;
$color-red-500: #e89d8f;
$color-red-600: #e07c6a;
$color-red-700: #d85b45;
$color-red-800: #b24a38;
$color-red-900: #8c3a2b;
$color-red-1000: #7f3224;
$color-red-1100: #702b1f;
$color-red-1200: #612419;
$color-red-1300: #521d14;
$color-red-1400: #43160e;

//orange
$color-orange-100: #fbe6d1;
$color-orange-200: #fadbbe;
$color-orange-300: #f8d1ab;
$color-orange-400: #f7c798;
$color-orange-500: #f4b273;
$color-orange-600: #f19e4d;
$color-orange-700: #ee8927;
$color-orange-800: #cc7520;
$color-orange-900: #aa6119;
$color-orange-1000: #884c13;
$color-orange-1100: #77420f;
$color-orange-1200: #66380c;
$color-orange-1300: #552e08;
$color-orange-1400: #442405;
