@import 'modern-css-reset';
@import './_typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
  min-width: 320px;
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90.51deg, #868686 1.54%, #5c5c5c 101.46%);
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
}
